:root {
  --green--: #4aab3d;
  --darkgreen--: #062302;
  --lightgray--: rgb(161, 161, 161);
  --white--: white;
}
.gray{
  color: var(--lightgray--);
}
.pera{
  font-size: 14px;
}
.tittle{
  font-size: 35px;
  background: linear-gradient(to right, #49ca70, #FF7E00,#ff8000,#9c4e00); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  font-weight: 700;
  text-shadow: 8px 9px 10px #3d47484a;
}
.sectittle{
  font-size: 30px;
  font-weight: 600;
  color: var(--darkgreen--);
  margin-top: -20px;

}
/* Header start */

.bg_color {
  backdrop-filter: blur(15px) !important;
  background-color: rgba(0, 31, 15, 0.336) !important;
  /* background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.6), rgba(255,255,255,0.6)); */
}
.logoset {
  width: 60px;
}

.lg_header .sec {
  /* background-color: white; */
  color: var(--primarycolor--) !important;
  border-radius: 5px;
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 1;
}

.lg_header .sec::after {
  content: "";
  width: 100%;
  height: 0%;
  position: absolute;
  background-color: var(--darkgreen--);
  border-radius: 3px;
  top: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
  z-index: -1;
}

.lg_header .sec:hover::after {
  height: 100%;
  top: 100;
  color: white;
}

.lg_header .sec:hover .nav-link {
  color: white !important;
}

.ofcv_header .nav-link {
  color: var(--green--) !important;
}

.ofcv_header .nav-link:hover,
.ofcv_header .nav-link:focus {
  background: var(--darkgreen--);
  color: white !important;
}

.lg_header .nav-link.active,
.ofcv_header .nav-link.active {
  background-color: var(--darkgreen--) !important;
  color: white !important;
  width: 100%;
  border-radius: 3px;
}

.lg_header .nav-link {
  color: white !important;
  /* color: var(--green--) !important; */
}

.indx {
  z-index: 9998;
}
.navbar-toggler-icon {
  background-color: white;
}

/* Header end */